
/* tooltip styling */
#demotip {
	display:none;
	background:transparent url(../images/black_arrow.png);
	font-size:12px;
	height:70px;
	width:160px;
	padding:25px;
	color:#fff;
}

/* style the trigger elements */
#demo img {
	border:0;
	cursor:pointer;
	margin:0 8px;
}

/* end tooltip styling */


/* get rid of those system borders being generated for A tags */
a:active {
  outline:none;
}

a:focus {
  -moz-outline-style:none;
}
